.pd img{
    height:250px;
}
.pd-info h5{
    font-size: 40px;
    color:#198754;
}
.s-spinner{
    margin: 200px auto;
}
.pd-info a{
    display: inline-block;
    margin-left: 60px;
    margin-top: 10px;
}