.login-form{
    margin: 150px auto;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 40px;
}
.form-field{
    border:none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    margin-bottom: 20px;
}
.google{
    cursor:pointer;
    font-size: 25px;
}
.g-text{
    margin-left: 50px;
    display:inline-block;
}